@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.custom-swiper .swiper-button-prev, 
.custom-swiper .swiper-button-next {
    color: #FF6F61; 
    font-size: 24px;
}

.custom-swiper .swiper-button-prev {
    left: -20px;
}

.custom-swiper .swiper-button-next {
    right: -10px;
}

.custom-prev-button, .custom-next-button {
    color: #FFFFFF;
    background-color: #FF6F61;
    border-radius: 50%;
    font-size: 20px;
    padding: 8px 8px;
    cursor: pointer;
}

.p-stepper {
    @apply bg-Branco rounded-tl-md rounded-tr-md p-10 w-[60%];
}

.p-stepper-nav {
    @apply flex justify-around items-center w-[90%];
}

.p-stepper-action {
    @apply flex gap-2;
}

.p-stepper-number {
    @apply text-Branco text-base font-Poppins font-medium bg-Coral border-2 border-Coral rounded-full px-2;
}

.p-stepper-title {
    @apply text-CinzaEscuro text-base font-Poppins font-medium;
}

.p-stepper-separator {
    @apply bg-Coral mx-5 w-full h-[0.1em];
}

.p-button-icon {
    @apply transition-all delay-75 ease-in-out group-hover:rotate-45;
}

.custom-icon-left .pi {
    @apply transition-all delay-75 ease-in-out rotate-0;
}

.custom-icon-left:hover .pi {
    @apply -rotate-45;
}

.custom-calendar-input {
    @apply bg-Branco border-2 border-gray-300 rounded-md shadow-md text-gray-700 placeholder-gray-400 p-2 focus:border-red-500 outline-none;
}

.p-timepicker {
    @apply bg-Branco border border-gray-300 rounded-md shadow-lg w-[20%];
    position: absolute;
    top: -2em;
    right: -10em;
}

.p-timepicker .p-timepicker-picker {
    @apply bg-Branco text-CinzaEscuro;
}

.p-timepicker .p-timepicker-hour, 
.p-timepicker .p-timepicker-minute {
    @apply text-base hover:bg-red-500 hover:text-white cursor-pointer;
}

.p-timepicker .p-highlight {
    @apply bg-red-500 text-white;
}
 
.custom-calendar-input input {
    @apply outline-none ring-0;
}

.p-datepicker-group-container {
    @apply absolute top-[-2em] right-[-30em] bg-Branco border-2 border-gray-300 rounded-md shadow-2xl p-5 w-[70%];
}

.pi-arrow-left {
    @apply rotate-45 transition-all ease-in-out delay-75 group-hover:rotate-0;
}